.container{
    background-color: #1B6B93;
    background-size: cover;
}

.cardContainer{
    align-items:center;
    justify-content: center;
    border: 3px solid #164B60;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 2em;
    padding: 30px;
}


 

 