.container{
    background-color: #1B6B93;
}

.cardContainer{
    align-items:center;
    justify-content: center;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 2em;
    padding: 25px;
}

.filtersContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
  }

  .searchBarContainer {
    display: flex;
    justify-content: center;
    height: 25px;
  }

 .orderAscDesc{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 10%;    
    position: relative;
    padding: 10px;
    height: 25px;
    margin-left: 5%;
  }        
 

 .orderByRating {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 10%;    
  position: relative;
  padding: 10px;
  height: 25px;
  margin-left: 5%;  
 }

 