.orderAscDesc{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 10%;    
    position: relative;
    padding: 10px;
    height: 25px;
    margin-left: 10%;
    margin-top: -4%;
  }        
 

 .orderByRating {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 10%;    
  position: relative;
  padding: 10px;
  height: 25px;
  margin-left: 10%;  
  margin-top: -1%;
 }